#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url(/src/assets/Wallpaper.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

body {
  background-color: rgb(32, 35, 35);
}

footer {
  text-align: left;
  background-color: #000000;
}



main {
  min-height: calc(100vh - 60px);
  padding: 2rem;
}



  body {
    min-width: 320px;
    min-height: 100vh;
  }




