.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .card {
    background-color: aliceblue;
    color: #ffffff
  
  }
  
  .card img {
    width: 100%;
  }
  
.info {
    display: flexbox;
    justify-content: center;
    height:fit-content
}

.close {
display: inline-block;
margin-left: 40px;
}
